@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
	--primary: #0c0e2b;
	--secondary: #5f2ded;
	--black: #191d53;
	--marker-color: #f2277e;
	--white: #fff;
	--accent-white: #fff;
	--text-color: #c9c9c9;
	--big-font-size: 32px;
	--heading-font-size: 24px;
	--sub-font-size: 18px;
	--body-font-size: 14px;
	--small-font-size: 10px;
}

.light-mode {
	--primary: #e4e4e4;
	--secondary: #e8dfff;
	--black: #f0f0f0;
	--marker-color: #f2277e;
	--white: #000000;
	--text-color: #1d1c1c;
	--accent-white: #fff;
}

@media (min-width: 768px) {
	:root {
		--big-font-size: 36px;
		--heading-font-size: 28px;
		--sub-font-size: 20px;
		--body-font-size: 15px;
		--small-font-size: 11px;
	}
}

@media (min-width: 1200px) {
	:root {
		--big-font-size: 42px;
		--heading-font-size: 32px;
		--sub-font-size: 22px;
		--body-font-size: 16px;
		--small-font-size: 12px;
	}
}

body {
	font-family: "poppins", sans-serif;
	color: var(--text-color);
	background-color: var(--primary);
}
h1,
h2,
h3,
h4 {
	line-height: 1.2;
	color: var(--white);
}

button {
	outline: none;
	border: none;
}
img {
	max-width: 100%;
}

.sub-head {
	color: var(--marker-color);
	font-size: var(--sub-font-size);
	margin-bottom: 10px;
	text-align: center;
}
.heading {
	font-size: var(--heading-font-size);
	color: var(--white);
	margin-bottom: 40px;
	text-align: center;
}
.align-center {
	align-items: center;
}
.justify-center {
	justify-content: center;
}

/* ===============header section================= */

.header {
	background-color: rgba(29, 28, 28, 0.418);
	position: sticky;
	top: 0;
	z-index: 100;
	backdrop-filter: blur(10px);
}
.header__container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.logo {
	padding: 5px;
	font-size: 32px;
}
.logo::first-letter {
	color: var(--marker-color);
}
.navigation{
	 display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 100%; 
} 

.nav__list {
	display: none;
	justify-content: flex-end;
}
.nav__list .nav__items {
	padding: 15px 20px;
}
.nav__items a {
	color: var(--white);
	font-size: var(--body-font-size);
	transition: all 0.3s ease-in-out;
}
.nav__items.active-page a {
	color: var(--marker-color);
}
.nav__list .nav__items:hover a {
	color: var(--marker-color);
}

.open__btn {
	display: block;
}
.open__btn .toggle-btn i{
	background-color: var(--primary);
	color:var(--white);
	font-size: var(--heading-font-size);
}
.nav__list.open{
		display: flex;
		flex-direction: column;
		width:250px;
		position: absolute;
		right:0;
		top:100%;
		background-color: rgba(29, 28, 28, 0.795);
		z-index: 100;
		backdrop-filter: blur(30px);
		border-bottom-left-radius:10px;

}
	
@media screen and (min-width: 768px) {
	.open__btn {
	display: none;
}
	.nav__list {
		display: flex;
	}
	.nav__list.open{
		display:flex;
		flex-direction: row;
		width:100%;
		position: relative;
		right:0;
		top:0;
		background-color:transparent;
		z-index: 100;
		backdrop-filter:none;
		border-bottom-left-radius:0;
	

}
	
}
